/* font importation */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* variables */
:root {
    --primary-color: #6200ea;
    --secondary-color: #03dac6;
    --background-color: #f0f0f0;
    --text-color: #333;
    --border-radius: 8px;
    --transition-speed: 0.3s;

    --big-font-size: 2rem;
    --medium-font-size: 1.5rem;
    --small-font-size: 1rem;
    --tiny-font-size: 0.775rem;
    --font-weight-extra-thin: 200;
    --font-weight-thin: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 900;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-offset-x: 0;
    --shadow-offset-y: 2px;
    --shadow-blur-radius: 10px;
    --shadow-spread-radius: 0;
    --shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: var(--medium-font-size);
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;

    padding-block: 60px;
}

img {
    max-width: 100%;
    height: auto;
}

*::before,
*::after {
    box-sizing: inherit;
    font-family: inherit
}

a,
button {
    font-family: inherit;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    transition: color var(--transition-speed), background-color var(--transition-speed);
}

.container {
    max-width: 1024px;
    margin-inline: auto;
    overflow: hidden;
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        margin-inline: auto;
    }
}

.list-container {
    position: relative;
    display: block;

    .wrapper {
        padding: 1rem;

        .item {
            margin: 1rem;
            box-shadow: var(--shadow);
            border-radius: var(--border-radius);
            background-color: white;
            transition: transform var(--transition-speed), box-shadow var(--transition-speed);

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
            }

            .img-wrapper {
                max-height: 250px;
                overflow: hidden;
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                position: relative;
            }

            img {
                display: block;
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }

        .item-text {
            padding: var(--tiny-font-size);
            font-size: var(--small-font-size);
            color: var(--text-color);
            text-align: center;

            h2 {
                font-size: var(--medium-font-size);
                font-weight: var(--font-weight-bold);
                margin-bottom: 0.5rem;
            }

            p {
                font-size: var(--tiny-font-size);
                color: var(--text-color);
                margin-bottom: 0.5rem;
            }

            a {
                font-size: var(--tiny-font-size);
                color: var(--primary-color);
                font-weight: var(--font-weight-normal);
                transition: color var(--transition-speed);
                padding: .25rem 1rem;
                background-color: var(--background-color);
                border-radius: var(--border-radius);
                text-transform: lowercase;
                letter-spacing: 0.05em;

                &:hover {
                    color: var(--background-color);
                    background-color: var(--primary-color);
                }
            }
        }
    }
}

/* Where the style of the carrousel comes in */
.carrousel__item-root {
    position: relative;

    .carrousel__items-container {
        position: relative;
        display: flex;
        transform: translate3d(0, 0, 0);
        transition: transform var(--transition-speed);

        /* to keep the container height*/
        &::before {
            content: "";
            clear: both;
            display: table;
        }

        &.carrousel__has-left-btn-hidden ~ .carrousel__btn-container:has(.carrousel__prev) {
            .carrousel__prev {
                opacity: 0;
                pointer-events: none;
                visibility: hidden;
            }
        }
        &.carrousel__has-right-btn-hidden ~ .carrousel__btn-container:has(.carrousel__next) {
            .carrousel__next {
                opacity: 0;
                pointer-events: none;
                visibility: hidden;
            }
        }
    }

    .carrousel__item {
        float: left;
    }

    .carrousel__btn-container {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        .carrousel__next,
        .carrousel__prev {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--primary-color);
            border: 1.5px solid var(--primary-color);
            color: white;
            padding: 0.5rem 1rem;
            border-radius: var(--border-radius);
            transition: background-color var(--transition-speed), opacity var(--transition-speed), visibility var(--transition-speed);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1;
            visibility: visible;

            &::after {
                content: "";
                display: block;
                width: 12px;
                height: 12px;
                background-image: url('../img/right.svg');
                background-repeat: no-repeat;
                background-size: 100%;
                font-size: 0.5rem;
                color: var(--background-color);
                display: inline-block;
                transition: color var(--transition-speed);
            }

            &:hover {
                background-color: darken(var(--primary-color), 50%);

                &::after {
                    color: var(--primary-color);
                }
            }
        }

        .carrousel__prev {
            right: auto;
            left: 0;

            &::after{
                content: "";
                background-image: url('../img/left.svg');
            }
        }
    }
}